@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:500');

@font-face {
                          font-family: "LexendDeca-Regular";
                          src: url('../fonts/LexendDeca-Regular.ttf') format("truetype");
                        }
                        
.anima-overlay {
  position            : absolute;
  opacity             : 0;
  display             : none;
  top                 : 0;
  width               : 100%;
  height              : 100%;
}
.kimedics {
  width               : 100%;
  min-width           : 1440px;
  height              : 100vh;
  min-height          : 3087px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color    : rgba(255, 255, 255, 1.0);
}
a {
  text-decoration     : none;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-full-width-a {
  width               : 100%;
}
.anima-full-height-a {
  height              : 100%;
}
div {
  -webkit-text-size-adjust: none;
}
.anima-animate-enter15 {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-animate-enter15-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter15-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter15-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter15-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter15-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes anima-animate-enter15-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes anima-animate-enter15-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes anima-animate-enter15-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.anima-animate-enter16 {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-animate-enter16-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter16-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter16-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter16-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes anima-animate-enter16-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.anima-animate-enter17 {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-animate-enter17-frames 0.20000000298s ease-in-out 1 normal forwards;
  -moz-animation      : anima-animate-enter17-frames 0.20000000298s ease-in-out 1 normal forwards;
  -o-animation        : anima-animate-enter17-frames 0.20000000298s ease-in-out 1 normal forwards;
  animation           : anima-animate-enter17-frames 0.20000000298s ease-in-out 1 normal forwards;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay  : 0s;
  animation-delay     : 0s;
}
@-webkit-keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-moz-keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@-o-keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
@keyframes anima-animate-enter17-frames {
  0%
   
  {
  opacity: 0;
    }
  
    
  100%
   
  {
  opacity: 1;
    }
}
.kimedics .stackedgroup {
  display             : flex;
  justify-content     : flex-start;
  flex-direction      : column;
  align-items         : center;
  background-color    : rgba(255,255,255,0.0);
  top                 : 161px;
  height              : auto;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : calc(50.00% - 270px);
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kimedics .stackedgroup .kim2x {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  margin              : 0;
  width               : 540px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kimedics .stackedgroup .group {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 98px;
  margin              : 45px 0 0 0;
  width               : 540px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kimedics .stackedgroup .group .overviewcontext {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LexendDeca-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(44, 44, 44, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.kimedics .stackedgroup .group .asphysicianshortag {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : auto;
  width               : 542px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LexendDeca-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(44, 44, 44, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.kimedics .stackedgroup .group2 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 125px;
  margin              : 45px 0 0 0;
  width               : 540px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kimedics .stackedgroup .group2 .whouseskimedics {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LexendDeca-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(44, 44, 44, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.kimedics .stackedgroup .group2 .threetypesofprofe {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : auto;
  width               : 542px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LexendDeca-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(44, 44, 44, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.kimedics .stackedgroup .group3 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 112px;
  margin              : 45px 0 0 0;
  width               : 540px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kimedics .stackedgroup .group3 .designresearch {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LexendDeca-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(44, 44, 44, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.kimedics .stackedgroup .group3 .thekimedicsfounder {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : auto;
  width               : 542px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LexendDeca-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(44, 44, 44, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.kimedics .stackedgroup .group4 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 189px;
  margin              : 45px 0 0 0;
  width               : 540px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kimedics .stackedgroup .group4 .designprinciples {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LexendDeca-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(44, 44, 44, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.kimedics .stackedgroup .group4 .a1donu2019trepeatyour {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : auto;
  width               : 542px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LexendDeca-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(44, 44, 44, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.kimedics .stackedgroup .group5 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : 112px;
  margin              : 45px 0 0 0;
  width               : 540px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kimedics .stackedgroup .group5 .sampleuserflow {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : 540px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LexendDeca-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(44, 44, 44, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.kimedics .stackedgroup .group5 .taskamanageris {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : auto;
  width               : 505px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LexendDeca-Regular", Helvetica, Arial, serif;
  font-size           : 14.0px;
  color               : rgba(44, 44, 44, 1.0);
  text-align          : left;
  line-height         : 18.0px;
}
.kimedics .stackedgroup .img2540 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 45px 0 0 0;
  width               : 540px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kimedics .stackedgroup .lowfidelitywirefra {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 45px 0 0 0;
  width               : 540px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LexendDeca-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(44, 44, 44, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.kimedics .stackedgroup .lowfi540 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 45px 0 0 0;
  width               : 540px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kimedics .stackedgroup .highfidelity {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 45px 0 0 0;
  width               : 540px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LexendDeca-Regular", Helvetica, Arial, serif;
  font-size           : 24.0px;
  color               : rgba(44, 44, 44, 1.0);
  text-align          : left;
  line-height         : 30.0px;
}
.kimedics .stackedgroup .img3540 {
  background-color    : rgba(255,255,255,0.0);
  position            : relative;
  height              : auto;
  margin              : 45px 0 0 0;
  width               : 540px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kimedics .footer {
  background-color    : rgba(255,255,255,0.0);
  bottom              : 0px;
  height              : 122px;
  width               : 100%;
  position            : fixed;
  margin              : 0;
  left                : -1px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kimedics .footer .background {
  background-color    : rgba(255, 255, 255, 1.0);
  top                 : 0px;
  height              : 122px;
  width               : 1440px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kimedics .footer .backlink {
  background-color    : rgba(255,255,255,0.0);
  top                 : 40px;
  height              : 43px;
  width               : 275px;
  position            : absolute;
  margin              : 0;
  left                : 11.32%;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  transition          : all 0.5s ease-in-out;
}
.kimedics .footer .backlink:hover {
  filter              : hue-rotate(40deg);
}
.kimedics .footer .backlink .text {
  background-color    : rgba(255,255,255,0.0);
  top                 : 0px;
  height              : auto;
  width               : auto;
  position            : absolute;
  margin              : 0;
  left                : 36px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
  font-family         : "LexendDeca-Regular", Helvetica, Arial, serif;
  font-size           : 34.0px;
  color               : rgba(255, 152, 128, 1.0);
  text-align          : left;
  line-height         : 43.0px;
}
.kimedics .footer .backlink .line {
  background-color    : rgba(255,255,255,0.0);
  top                 : 11px;
  height              : 13px;
  width               : 14px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kimedics .footer .backlink .line1 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 4px;
  width               : 29px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
.kimedics .footer .backlink .line2 {
  background-color    : rgba(255,255,255,0.0);
  top                 : 21px;
  height              : 13px;
  width               : 13px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
  -ms-transform       : rotate(0deg); /* IE 9 */
  -webkit-transform   : rotate(0deg); /* Chrome, Safari, Opera */
  transform           : rotate(0deg);
}
/* .anima-animate-appear prefix for appear animations */
.anima-animate-appear {
  opacity             : 0;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 normal forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 normal forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 normal forwards;
}
.anima-animate-disappear {
  opacity             : 1;
  display             : block;
  -webkit-animation   : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  -moz-animation      : anima-reveal 0.3s ease-in 1 normal forwards;
  -o-animation        : anima-reveal 0.3s ease-in-out 1 reverse forwards;
  animation           : anima-reveal 0.3s ease-in-out 1 reverse forwards;
}
.anima-animate-nodelay {
  -webkit-animation-delay: 0;
  -moz-animation-delay: 0;
  -o-animation-delay  : 0;
  animation-delay     : 0;
}
@-webkit-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-moz-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@-o-keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}
@keyframes anima-reveal {
  0%
   
  {
      opacity: 0;
    }
  
    
  100%
   
  {
      opacity: 1;
    }
}